.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}